<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorge.meurecordatorio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hour"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="Cadastro de Alimento"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Generica.AlimentoActivity"
            android:label="Cadastro de Alimento"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.GrauParentescoActivity"
            android:label="Grau de parentesco"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.EntrevistadoActivity"
            android:label="Cadastro de Alimento"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.AdicaoActivity"
            android:label="Cadastro de Alimento"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.OcasiaoConsumoActivity"
            android:label="Cadastro de Alimento"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.PreparacaoActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.LocalActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.AlimentoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".Generica.UnidadeActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".Generica.UnidadeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />
        </activity>
        <activity
            android:name=".ConfiguracaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DbExportImport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".JSonExampleActivity"></activity>
    </application>

</manifest>