<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorge.meurecordatorio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Generica.AlimentoActivity" />
        <activity android:name=".Generica.UnidadeActivity" />
        <activity android:name=".Generica.LocalActivity" />
        <activity android:name=".Generica.PreparacaoActivity" />
        <activity android:name=".Generica.OcasiaoConsumoActivity" />
        <activity android:name=".Generica.AdicaoActivity" />
        <activity android:name=".Generica.EntrevistadoActivity" />
        <activity android:name=".DetailActivity"
            android:label="Cadastro de Alimento"></activity>
    </application>

</manifest>